.card {
}
.card-container {
  display: flex;
}
.cart-image {
  width: 150px;
  height: 120px;
}
.cart-img {
  width: 100%;
  height: 100%;
}
.cart-content {
}

.cart-text {
  display: flex;
}
.cart-digits {
}
.cart-title {
}
.cart-delete {
}
