.product-card {
  height: 700px;
  transition: transform 0.7s;

  .card-image {
    overflow: hidden;
    height: 75%;
  }

  &:hover {
    transform: scale(1.02);
    transition: transform 0.7s;
  }

  .card-title .material-icons {
    cursor: pointer;
  }
}

.price-block {
  @mixin price {
    padding: 5px;
    font-size: 20px;
  }

  &__old-price {
    @include price;

    font-size: 16px;
    color: #90a4ae;
    text-decoration: line-through;
  }

  &__new-price {
    @include price;

    color: #bf360c;
  }
}
