@import "node_modules/materialize-css/sass/materialize";

.page-footer {
  padding-top: 0;
}

.footer-items {
  display: flex;
  gap: 10rem;
  align-items: center;
  justify-content: center;
  min-height: 2rem;
}

.no-text-transform {
  font-size: 24px;
  text-transform: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.logo {
  cursor: pointer;
}

.error {
  width: 100%;
  height: 100vh;
  background-image: url("/src/assets/404/backgroung-image.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (max-width: $large-screen) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.page-image {
  display: flex;
  gap: 100px;
  padding: 50px;

  @media (max-width: $large-screen) {
    flex-direction: column;
  }
}

.page-image-man {
  max-width: 100%;
  height: auto;
  max-height: calc(100vh - 50px * 2);

  @media (max-width: $large-screen) {
    display: none;
  }
}

.page-image-body {
  padding: 20px;
  color: #fff;
  text-align: center;

  > *:not(:last-child) {
    margin-bottom: 50px;
  }
}

.page-image-title {
  font-size: clamp(2rem, 1.752rem + 1.24vw, 4rem);
}

.hide-on-med-and-down {
  display: block !important;
}

.hidden {
  display: none;
}

#login-section {
  margin: 10% 30% 0;
}

#create-account {
  margin-left: 25%;
}

.main-image {
  max-width: 100%;
  max-height: 100vh;
  height: auto;
  display: block;
  margin: 0 auto;
}

.main__container {
  background: linear-gradient(
    270deg,
    #f0f0f0,
    #fde5e5,
    /* светло-розовый */ #e5f9fd,
    /* светло-голубой */ #e5fde7,
    /* светло-зеленый */ #fdfde5,
    /* светло-желтый */ #f0f0f0
  );
  background-size: 800% 800%;
  animation: gradientBackgroundLight 15s ease infinite;
}

@keyframes gradientBackgroundLight {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
