.main-container-product {
}

.product-details {
  display: flex;
  padding: 5px;
}

.gallery-wrapper {
  flex: 1 1 60%;
}

.product-container {
  flex: 1 1 40%;
}

.product-titles {
}

.product-category {
}
